#logo{
    height: 30px;
    width: 30px;
}

.digit
{
    float: none;
}

.card-header{
    height: 61px !important;
    overflow: hidden;
}

.card-footer{
    height: 105px !important;
    overflow: auto;
}

.card-img-top{
    height: 250px !important;
}
.profileInfo{
    border: 3px solid black;
    border-radius: 3px;
}
.profilePicture{
    border: 3px solid black;
    width: 100%;
}
.messageFrom{
    border: 2px dotted cornflowerblue;
    text-align: center;
    height: 110px !important;
}
.messageTo{
    border: 2px dotted coral;
    text-align: center;
    height: 110px !important;
}

.dateMessage{
    text-align: right;
    font-size: 10px;
    color: #424242;
}
.authorMessage{
    text-align: left;
    font-size: 20px;
    color: Black;
}

.chat{
    height: 150px;
    border: 3px solid black;
    border-radius: 3px;
}

.numberField{
    width: 200px !important;
}

.searchField{
    width: 250px !important;
}

#chatHeader{
    height: 100px;
    text-align: center;
}

#chat{
    height: 430px;
    overflow: auto;
    border: 3px solid black;
    border-radius: 3px;
}

#chatFooter{
    height: 50px;
}

#allChat{
    height: 570px;
    width: 90%;
    margin: 0 auto;
}

#toCreateBtn{
    margin: 25px 30% !important;
    width: 40% !important;
}

.messageInput {
    width: 100% !important;
}

img{
    width: 100%;
}

.messagePic{
    height: 100px;
    width: 100px;
}

.ucheckedBg{
    background-color: #9c9c9c;
}